
/*Configuraciones generales*/
html{
    font-size: 15px;
}
body{
    margin: 0;
}
h1{
    font-size: 3rem;
}
/*header(sticky)|configuraciones,nav*/
header{
    align-items: center;
    height: 5rem;
    display: flex;
    background-color: rgba(127, 188, 61,0.6);
    position: sticky;
    top: 0px;
    margin-bottom: 0;
}

/*Nav(flex)|ul*/
nav{

    /*Color fondo*/
    background-color: rgba(96, 152, 36, 0.6);
    /*Tama単o nav*/
    width: 50%;
    /*Display:flex, flex-wrap:no wrap|para que los elementos del ul esten siempre en fila*/
}
/*Ul(flex),*/
nav ul{
    align-items: center;
    justify-content: left;
        /*Display:flex, flex-wrap:no wrap|para que los elementos del ul esten siempre en fila*/
    display: flex;
    flex-wrap: nowrap;
    /*Margin: auto|para que se centre*/
    margin: auto;
    /*Margin-left|para separarlo del borde*/
    margin-left: 0.7rem;
    /*align-items: center|para centrarlo*/
    align-items: center;
    padding-left: 0;
    padding-bottom: 0;
    /*gap|para separar los elementos del nav*/
    gap: 2.5%;
    /*list-style: none|si agrego links, sueltos no quiero que tengan subrrayado*/
    list-style: none;
}
/*Tama単os y estilos de los elementos del nav|avatar, modo, rueda y signo de pregunta*/
.avatar{
    width: 3rem;
}
.mas{
    width: 1.5rem;
    /*Filter: grayscale(1)|lo pongo en blanco y negro*/
    filter: grayscale(1);
}
.modo{
    width: 80px;
    height: 40px;
}

/*Hero banner*/
.container-hero{
    width: 100%;
    height: 30%;
    display: grid;
    align-items: center;
    margin-bottom: 6rem;
}
.background-hero{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 9rem;
    display: grid;
    align-items: center;
    /*Defino la imagen de banne*/
    background-image: url(../contenido-pagina/banner.png);
    /*Background position|la posiciono en el centro*/
    background-position: center;
    /*background-size: cover|cubre tama単o del contenedor*/
    background-size: cover;
    /*Background-repeat|para que no se repita en ningun caso*/
    background-repeat: no-repeat;
}
#hero{
    /*Margin: auto| para que quede centrado*/
    margin: auto;
    /*Para que este pegado al header*/
    margin-top: 0;
    /*Tama単o adecuado a la imagen del banner y responsive*/
    height: 20rem;
    width: 70%;
    /*Text-align: center|centra el texto dentro del contenedor*/
    text-align: center;
    display: grid;
    align-items: center;
}
.presentacion{
    position: relative;
    top: 10%;
    margin: auto;
}
.buscador{
    display: flex;
    /*Justify-content: center|centro la imagen*/
    justify-content: center;
    /*centro los elementos del buscador*/
    align-items: center;
}

.buscador form{
    /*Display: flex|activo los poderes de flex-box*/
    display: flex;
    align-items: center;
}
.texto{
    width: 12rem;
}
.texto:hover{
    width: 12rem;
    border: solid 2px #6b63ff;
}

.lupa{
    width: 1rem;
}
.boton{
    display: flex;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
}
.boton:hover{
    cursor: pointer;
    border: solid 2px#6b63ff;
}
.pin-mapa{
    width: 1rem;
    margin-left: 10px;
}
.pin-mapa:hover{
    cursor: pointer;
}
main{
    display: grid;
    align-items: center;
}
#propiedades{
    margin: auto;
    width: 90%;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.propiedad{
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 9%;
}
.propiedad img{
    width: 100%;
}
footer{
    margin-top: 20px;
    padding: 1.3em;
    background-color: blueviolet;
    text-align: center;
    display: grid;
    align-items: center;
}
.redes{
    display: flex;
    gap: 10px;
    margin: auto;
    list-style: none;
}
