/*Ayuda*/
.contenedor{
    width: 100%;
    display: grid;
    align-items: center;
}
.footer-ayuda{
    margin-top: 500px;
}
.acordion-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}