@import "variables.scss";
@import "mixins.scss";
/*header*/
header{
    width: 100%;
    z-index: 9999;
    background-color: rgba(10, 78, 142, 0.9);
    display: flex;
    align-items: center;
    height: 10%;
    position: sticky;
    top: 0px;
    margin-bottom: 0;
}
/*Nav*/
nav{
    width: 85%;
    ul{
        justify-content: left;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
        margin-left: 0.7rem;
        align-items: center;
        padding-left: 0;
        padding-bottom: 0;
        gap: 2.5%;
        list-style: none;
        a{
            text-decoration: none;
            color: wheat;
            font-size: 110%;
        }
        a:hover{
            color: #0ac1ab;
        }
    }
}
.logo{
    width: 4rem;
}
.modo-container{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modo{
    margin: 0;
    width: 55px;
    height: 35px;
}

/*Footer*/
footer{
    margin-top: 20px;
    padding: 1.3em;
    align-self: end;
    background-color: rgb(7, 73, 99);
    text-align: center;
    display: grid;
}
.redes{
    display: flex;
    gap: 10px;
    margin: auto;
    list-style: none;
    img{
        width: 1.5rem;
        filter: grayscale(1);
        transition: 0.7s;
    }
    img:hover{
        width: 1.5rem;
        filter: none;
    }
}