
/*Hero banner*/
.background-hero{
    width: 100%;
    min-height: 90%;
    margin: auto;
    margin-bottom: 9rem;
    display: grid;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)), url(../contenido-pagina/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    
}
#hero{
    margin: auto;
    margin-top: 0;
    height: 90%;
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
}
.presentacion{
    position: relative;
    top: 10%;
    margin: auto;
    
}
.presentacion h1, .presentacion h2{
    text-shadow: 6px 1px 0.1em rgb(188, 184, 196), -6px -1px 0.1em rgb(188, 184, 196);
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        align-items: center;
    }
}
.texto{
    width: 12rem;
}
.texto:hover{
    width: 12rem;
    border: solid 2px #6b63ff;
}
.lupa{
    width: 1rem;
}
.boton{
    display: flex;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
}
.boton:hover{
    cursor: pointer;
    border: solid 2px#6b63ff;
}
.pin-mapa{
    width: 1rem;
    margin-left: 10px;
}
.pin-mapa:hover{
    cursor: pointer;
}
#main-home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#propiedades{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}
.propiedad{
    width: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a img{
        width: 100%;
    }
    .estrellas{
        display: fle;
        width: 30%;
        align-self: start;
        justify-self: end;
    }
}