//Preconfiguración
html, body{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    max-width: 100%;
    height: 100%;
}
.contenedor-todo{
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
}
h1{
    @include fuente($font-h1, center);
}
h2{
    @include fuente($font-h2, center)
}
h3{
    @include fuente($font-h3, center);
    margin: 0;
}
h4{
    @include fuente($font-h4, center);
    margin-top: 20px;
}
h5{
    @include fuente($font-h5, center);
}
h6{
    @include fuente($font-h6, center);
}
p{
    margin: 0;
}
ul{
    list-style: none;
}