@media only screen and (max-width: 1000px) {
    .propiedad{
        width: 45%;
    }
}

@media only screen and (max-width: 800px){
    .propiedad{
        width: 100%;
    }
}

@media only screen and (max-width: 400px){
    nav ul a{
        font-size: 85%;
    }
}

@media only screen and (min-height: 900px){


    /*Cuenta*/
    #config-cuenta .row h3{
        padding: 5%;
        font-size: 3rem;
    }
    #config-cuenta .row input{
        width: 500px;
        height: 60px;
    }
    .ojo{
        width: 50px;
        height: 50px;
        margin-left: 450px;
        img{
            width: 90%;
        }
    }
}